/*PROYECTO*/
*{
font-family: 'Lato', sans-serif;
font-size:12px;
color:#FFFFFF;
}
/*
html, body, #map-canvas {
height: 100%;
margin: 0;
padding: 0;
}
*/
body{
max-width: 25em;	
margin:auto auto;
display:block;
}
section{
display:none;	
width:100%;
height:100%;
}
header{
background-color:#00aef0;	
padding-top:1em;
padding-bottom:1em;
}
input{
border:none;	
margin-bottom:1em;
padding-left:1em;
text-transform:uppercase;
height:3.5em;
width:100%;
color:#9f9f9f;
}
.global-container{	
background-color:#ffffff;
padding-bottom:100%;
}
section label{
text-transform:uppercase;	
color:#FFFFFF;
}
.navbar-toggle {
margin-right: 0px;
border-radius: 0px;
border: 0px solid transparent;
margin-top: 0px;
margin-bottom: 0px;
padding: 14px 17px;
}
.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;
}
.navbar-toggle .icon-bar {
background-color: #fff;
}
.navbar-toggle .icon-bar {
display: block;
width: 22px;
height: 3px;
border-radius: 1px;
}
#menu-lateral{
left:-22em;
position:absolute;
height:100%;
z-index:100;
background-color:#00a0dd;
top:0px;
width:22em;
-webkit-box-shadow: 2px 0px 11px 0px rgba(50, 50, 50, 0.63);
-moz-box-shadow:    2px 0px 11px 0px rgba(50, 50, 50, 0.63);
box-shadow:         2px 0px 11px 0px rgba(50, 50, 50, 0.63);
}
#menu-lateral li.active, #menu-lateral li:hover{
background-color:#00aef0;
}
#menu-lateral li{
position:relative;
line-height: 5em;
font-weight: 600;
height:5em;
list-style:none;
font-size:14px;
text-transform:uppercase;
text-align:left;
padding-left:2em;
border-bottom:1px solid #4dbde7;
}
.menu-lateral ul{
padding-left:0px;	
}
.img-perfil{
width:100%;	
}
.img-user{
width:7em;	
position:absolute;
top: 9em;
left: 1em;
z-index:10;
}
.menu-lateral .text-container{	
width: 57%;
position: absolute;
top: 10em;
left: 9em;
z-index: 10;
}
.menu-lateral .text-container h5{	
margin-bottom:0px;
}
.btn-cerrar{
width:25px;
height:25px;
position:absolute;
margin: 2em;
cursor:pointer;
}
.btn-flecha{
width: 16px;
position: absolute;
right: 15px;
top: 23px;
}
/*BIENVENIDA*/
/*
.bienvenida{
background:url("../images/loading.gif") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
*/
}
.loader{}
section.paso1{
display:block;	
}
section.paso1 h3{
margin-top:10em;
}
.mapa-gif{
margin-top:6em;	
}
/*INICIA*/
.inicia h4{
text-transform:uppercase;	
}
/*REGISTRO*/
.carousel-control{
background-image: none !Important;	
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
margin-right: -30px;
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
margin-left: -25px;
}
.carousel-caption{
bottom:239px;	
}
.carousel {
margin-top: 2em;
}
.carousel-inner{
/*
margin-top:10em;	
*/
}
.barra-sesiones{
-webkit-box-shadow: 0px -3px 8px 0px rgba(50, 50, 50, 0.36);
-moz-box-shadow:    0px -3px 8px 0px rgba(50, 50, 50, 0.36);
box-shadow:         0px -3px 8px 0px rgba(50, 50, 50, 0.36);
background-color:#0e86b4;	
height:4em;
height: auto;
padding: 1em 0;
}
.barra-sesiones h4{
border:2px solid #FFFFFF;	
padding: 0.9em 0.1em;
font-size:16px;
}
section.paso2{
margin-top:2em;	
}
section.paso2 p{
font-size:14px;	
margin-top:2em;
}
section.paso2 .registro-container{
margin-top:20em;
margin-top:17em;
}
.btn-iniciar, .btn-registrarse{
text-align:center;
}
.send{
height:3em;	
font-size:14px;
text-transform:uppercase;
text-align: center;
cursor:pointer;
margin-top: 0.6em;
}
.send:hover{
opacity:0.8;
}
.send-facebook{
background-color:#3158af;	
line-height:4em;
height:4em;
}
.barra-sesiones .send-facebook{
height:4em;	
font-size: 16px;
}
.barra-sesiones .send-facebook .text-left{
font-size: 16px;	
}
.send-registro, .send-inicio{	
border:2px solid #FFFFFF;
background-color:#00a0dd;
color:#FFFFFF;
}
.fb-icon{
background-image:url(../images/icon-facebook.png);	
width:10px;
height:10px;
}
.icon-facebook{
margin-top:1em;	
}
/*REGISTRO*/
section.paso3 .registro-container{
margin-top:8em;
}
/*LOGIN*/
section.paso4 .registro-container{
margin-top:11em;
}
/*SITE*/

/*MODALS*/
.modals{
width:21em;
display:none;
overflow: hidden;
position: fixed;
z-index: 1040;
-webkit-overflow-scrolling: touch;
outline: 0;
top:0px;
padding-top: 4em;
}
.modals h4{
text-align:center;	
}
.modal-mensaje{
text-transform:uppercase;	
padding-top: 3.9em;
}
.mensaje-ayudo{
padding-top: 3.9em;
}
.modal-container{
width: 19em;
height: 15em;
background-color:#00aef0;
color:#FFFFFF;
-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 1);
box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 1);
margin:1em;
}
.btn-no, .btn-si{
width:7em;	
margin-left: 1.7em;
}
.btn-no:hover, .btn-si:hover{
opacity:0.8;
}
.badges{
width: 15em;
position: absolute;
right: 3em;
top: -38px;
}
.pointer{
position: absolute;
bottom: 0px;
right: 0px;
width: 4em;
margin: 2em;
cursor:pointer;
display:none;
}
.foto-ayudo{
width: 9em;
position: absolute;
right: 5.9em;
top: 2px;
}
.overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 100;
color:#000000;
opacity:1;
display:none;
}
.btn-cercano, .btn-operacion{
background-color:#00aef0;	
text-transform:uppercase;
padding: 1em 0.6em;
}
.btn-busco, .btn-desocupe{
background-color:#ff4d4d;	
text-transform:uppercase;
padding: 1em 0.6em;
}
.btn-cercano:hover, .btn-operacion:hover, .btn-cercano.active, .btn-operacion.active{
background-color:#0094cc;	
}
.icon-cercano, .icon-operacion, .icon-desocupe, .icon-busco{
margin-top:5px;	
}
.btn-cercano h5, .btn-operacion h5, .btn-desocupe h5, .btn-busco h5{
font-size: 10px;
margin-left: 5px;
}
.filtros-row{
position: relative;
top: 2em;
z-index: 99;
}
.map{
margin-top: -5.7em !important;	
}
.map .tooltips p{
color:#000000;	
}
a.tooltipses {
position: absolute;
display: inline;
left:50px;
top:250px;
}
a.tooltipses span p{
margin:2px auto;	
text-align:left;
}
a.tooltipses span {
position: absolute;
width:140px;
color: #FFFFFF;
background: #ff4d4d;
height: auto;
line-height: inherit;
text-align: center;
visibility: hidden;
border-radius: 0px;
}
a.tooltipses span:after {
content: '';
position: absolute;
top: 100%;
left: 50%;
margin-left: -8px;
width: 0; height: 0;
border-top: 8px solid #ff4d4d;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
}
a:hover.tooltipses span {
visibility: visible;
opacity: 1;
bottom: 30px;
left: 50%;
margin-left: -76px;
z-index: 999;
padding: 9px;
}
.me-retiro-title{
background-color:#ff5f5f;
}
a.tooltipses.tooltips-retiro span{
width:23em;	
}
.btn-tengo-prisa{
border-right:1px solid #ff8383;	
}
.ubicalo{
display:none;	
}
